{% extends 'blog/base.html' %}

{% block title %}
    <h1>This is the Post detail PAGE</h1>
{% endblock title %}
    

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md boder rounded shadow-sm">
                <p class="font-weight-bold text-center">
                    <h1>{{ post.title }}</h1>
                </p>
                <p>
                    <span class="text-muted">{{ post.author }} | {{ post.created_on }}</span>
                    <hr>
                </p>
                {{ post.content | safe }}
            </div>
        </div>

        
        {% if comments %}
            <div class="row messagebox">
                <h3>Recent Replies:</h3>
                <p></p>
                {% for comment in comments %}
                <div class="col-md-10 boder rounded shadow-sm message float-right">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class="text-muted">created on {{ comment.created_on }}</span>
                    </p>
                    <hr>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-10 boder rounded shadow-sm">
                    <h3>Leave a comment</h3>
                    <form  method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <button type="submit" class='btn btn-secondary btn-lg'>Submmit</button>
                    </form>
            </div>
        </div>
        


    </div>
{% endblock content %}
    